<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/mosu/wms.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/mosu/%d/wms.%d.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%p][%c][%M][%L][%t]-> %m%n
            </pattern>
            <charset>UTF-8</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>
    <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref ="ROLLING"/>
    </appender>

    <!-- 滚动策略 -->
    <appender name="ERROR_ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/mosu/wms_error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/mosu/error/wms_error.%d.%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 过滤日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%p][%c][%M][%L][%t]-> %m%n
            </pattern>
            <charset>UTF-8</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>
    <!-- error日志 -->
    <appender name="ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR_ROLLING" />
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC" />
        <appender-ref ref="ERROR" />
    </root>
</configuration>